<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafaClink"
        tools:targetApi="31">
        <activity
            android:name=".activity.konsumen.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.konsumen.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.konsumen.DialogPesanActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.konsumen.PaketActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DialogAddPaketActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.admin.DialogDetailPaketActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.admin.DialogUpdatePaketActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.admin.PaketActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DialogAddUserActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.admin.DialogDetailUserActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.admin.DialogUpdateUserActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.admin.UserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.owner.MainOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.konsumen.MainKonsumenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.safaclink.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>